_site/*
.idea/
.sass-cache
.bundler/

# Debugg time 

# allows Jekyll to keep track of which files have not been modified since the site was last built
.jekyll-metadata  

# VS Code 
.vscode/*
*.code-workspace


